.venv/
__pycache__/
*.pyc

.ir_datasets/
indexes/
outputs/

.ipynb_checkpoints/
.DS_Store

data/**/*.zip
data/**/*.tar
data/**/*.gz

data/
processed/


.idea


.codex
.agents


IR_Project_2026_Description.md
.github

evaluations