.venv/
__pycache__/
*.pyc

.ir_datasets/
indexes/
outputs/

.ipynb_checkpoints/
.DS_Store

data/**/*.zip
data/**/*.tar
data/**/*.gz

data/argsme_touche2022/docs.jsonl
data/argsme_touche2022/qrels.tsv
data/argsme_touche2022/queries.jsonl

data/clinicaltrials_2021/docs.jsonl
data/clinicaltrials_2021/qrels.tsv
data/clinicaltrials_2021/queries.jsonl

processed/


.idea


.codex
.agents


IR_Project_2026_Description.md
.github